@media (max-width: 910px){

  .img-index {
    transform: scale(0.9);
    margin: 0;
    padding: 0;
}

  .img-artwork {
    transform: scale(0.8);
    margin: 0;
  }

  .img-contact {
    display: none;
  }
}

@media (max-width: 768px) {

  header p {
      font-size: 2em;
      padding-top: 25%;
    }

  nav {
    display: inline;
    width: 100% !important;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  nav ul li {
    display: inline;
    font-size: 1.2em;
    margin: 0;
  }

  .img-index {
    transform: scale(0.7);
  }

  #artwork ul {
    display: none;
  }

  .title {
    font-size: 1.5em;
  }

  .about-info {
    margin-left: 2%;
  }

  .contact-info {
    margin-left: 5%;
    margin-right: 1%;
    padding: 0;
  }

  article {
    padding: 0;
  }
}

@media (max-width: 420px){

  .art-layout {
    margin: 0;
    width: relative;
    padding: 0;
  }

  .art-layout img {
    transform: scale(0.5);
    padding: 0;
    width: auto;
    margin: 0;
    display: block;
  }
}

@media (max-width: 375px){

  body {
    margin: 0;
    padding: 0;
  }

  header p {
    font-size: 1.2em;
    margin: 0;
  }

  .title {
    font-size: 1em;
  }
}

@media (max-width: 320px) {

  nav {
    position: absolute;
  }

  nav ul li {
    font-size: 1em;
  }

  br {
    display: none;
  }

  .artwork-info {
      margin-left: 5%;
      margin-right: 1%;
    }

  .about-info {
    margin-left: 1%;
  }

  .img-index {
    transform: scale(0.55);
    float: right;
    position: relative;
    left: 60px;
  }

  footer {
    display: none;
  }
}
