@import url(https://fonts.googleapis.com/css?family=Catamaran:900,100|Crimson+Text:400,600);

* {
  background: transparent; !important
  color: black;
  font-size: 12pt;
}

@page {
  margin: 0.5in;
}

header {
  height: 1in;
}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 30pt;
}

h2 {
  border-bottom: 0.03in solid black;
  font-size: 22pt;
  font-family: 'Crimson Text', serif;
}

address {
  text-align: center;
  font-style: normal;
}

main {
  padding: 0.5in;
}

h3 {
  font-size: 16pt;
  border-bottom: 0.02in solid black;
  font-family: 'Crimson Text', serif;
}

a[href^="http"] {
  display: inline;
}

a[href^="http"]:after {
  content: " ("attr(href) ") ";
}

.school a {
  color: black;
  text-decoration: none;
}

#experience {
  float: right;
  clear: both;
  overflow: auto;
  text-align: right;
  width: 9.7in;
}

#experience ul li {
  list-style: inside;
  line-height: 1.5;
}

#experience ul ul li {
  list-style: none;
  border-bottom: 0.02in solid black;
}

#references {
  float: left;
  clear: both;
  overflow: auto;
}

footer {
  background: transparent;
  color: black;
  margin: auto;
  float: left;
  clear: both;
  width: 16in;
}

.copyright {
  float: left;
  font-size: 12pt;
}

nav {
  display: none;
}
