@import url(https://fonts.googleapis.com/css?family=Londrina+Solid|Rock+Salt|Libre+Baskerville);

body {
  line-height: 2;
  padding: 0;
  margin: auto;
}

article {
  padding-right: 3em;
}

header {
  float: right;
  clear: none;
}

header p {
  font-family: 'Londrina Solid', cursive;
  color: rgb(21, 21, 21);
  font-size: 3.5em;
  padding-right: 2em;
  text-align: right;
  margin: 0;
}

header p:hover {
  color: gray;
}

nav {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: black;
  float: left;
  clear: none;
}

nav ul {
  list-style: none;
  background-color: black;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  font-family: 'Londrina Solid', cursive;
  font-size: 1.2em;
  padding: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

a:active {
  color: red;
  text-decoration: none;
}

nav ul ul {
  display: none;
}

#artwork:hover ul {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  background-color: rgb(148, 109, 146) !important;
}

#um {
  color: orange;
}

#um:hover {
  color: gray;
}

.title {
  font-family: 'Londrina Solid', cursive;
  font-size: 1.8em;
  color: gray;
  float: right;
  clear: both;
  border-bottom: 2px solid black;
  width: 75%;
}

.art-layout img {
  margin: 1em;
  border: 0.15em solid black;
  display: grid;
  float: right;
  clear: none;
}

.art-layout {
  width: 75%;
  float: right;
  margin-right: 3%;
}

.img-index {
  float: right;
  clear: both;
  transform: scale(1.4);
  padding: 5em;
  margin-right: 30%;
}

.about-info {
  float:left;
  clear: both;
  margin-left: 25%;
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-align: left;
}

.about-left {
  float: left;
  clear: none;
  padding: 1em;
  padding-top: 1em;
}

.about-right {
  float: right;
  clear: none;
  padding: 1.5em;
}

#baker {
  padding-top:0;
}

.artwork-info {
  float:left;
  clear:both;
  margin-left: 25%;
  margin-right: 5%;
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-align: left;
  padding-top: 1em;
}

.img-artwork {
  float: right;
  clear: none;
  margin-right: 1%;
  transform: scale(1.1);
}

.img-contact {
  float:right;
  clear: none;
  padding: 2%;
}

.contact-info {
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-align: left;
  float: right;
  clear: none;
  padding-top: 1em;
  margin-right: 5%;
}

footer {
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-align: center;
  font-size: 0.9em;
  padding: 2em;
  float: right;
  clear: both;
  margin: 0;
}
